
    <div class="clr"></div>
    <footer>
        <div class="footer">
            <ul class="footer-links">
                <li class="footer-link">
                    <a class="footer-link-a" href="/login">login</a>
                </li>
            </ul>
        </div>
    </footer>
    <script>var exports = {};</script>
    <script src="/public/scripts/tonyslist.js"></script>
    </body>
</html>