<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/public/styles/style.css">

        <!--Favicon code-->
        <link rel="apple-touch-icon" sizes="180x180" href="/public/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/public/fav/favicon-16x16.png">
        <link rel="manifest" href="/public/fav/site.webmanifest">
        <link rel="mask-icon" href="/public/fav/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    
    <body>
        <div class="mod-modal" id="mod-modal">
            <div class="mod-modal-background">
                <div class="mod-modal-card card">
                    <div id="mod" class="mod-modal-card-title card-title">
                            <h4 id="title" class="mod-modal-title"></h4>
                            <span class="close" id="close" onclick="closeModal();">X</span>
                    </div>
                    <div id="mod-error"></div>
                    <div id="mod-body" class="mod-modal-card-body card-body">
        
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav">
            <a href="/" class="title">tonyslist</a>
            <div class="nav-link-cont">
                <a class="nav-link" href="/posts/add">Sell</a>
                <a class="nav-link" href="/posts/">Posts</a>
                <a class="nav-link" href="/news/">News</a>
                <% if (auth.auth) { %>
                    <a class="nav-link" href="/account/">Account</a>
                    <a class="nav-link register" href="/logout/">Logout</a>
                <% } else { %>
                    <a class="nav-link" href="/login/">Sign in or Register</a>
                <% } %>    
            </div>
        </nav>

        <div class="error-box"></div>