<html>
    <head>
        <title><%= title %></title>

        <link rel="stylesheet" href="/public/style.css">
        
    </head>
    
    <body>

    <nav class="nav">
        <span class="title">Star Lake Classified</span>

        <div class="nav-link-cont">
            <a class="nav-link" href="/?token=<%=token%>">Home</a>
            <a class="nav-link" href="/addna/?token=<%=token%>">Add NA</a>
            <a class="nav-link" href="/login/?token=<%=token%>">Sign in or Register</a>
        </div>
    </nav>