<% include partials/header %>

<div class="err-cont">
    <span class="err-header">
        404
    </span>
    
    <div class="err-msg">
            The requested page could not be found
    </div>
</div>


<% include partials/footer %>