<% include partials/header %>

<div class="err-cont">
    <span class="err-header">
        500
    </span>
    
    <div class="err-msg">
            Internal Server Error : <%= error %>
    </div>
</div>


<% include partials/footer %>