<% include partials/header %>

<h1> Added Successfully </h1>

<p> Please check your email for a verification email before attempting to log in </p>
<a href="/">Return Home</a>
<% include partials/footer %>