<% include partials/header %>

<div class="image-preview-container">
        <a class="back button" href="/posts">back</a>
        <div class="image-preview-container-child">
            <div class="image-preview">
                <div class="root">
                    <% if (typeof post !== 'undefined') {%>
                        <% for (let m in post.images) { if (post.images[m] != 'thmb.jpg') {%>

                            <div class="post-img">
                                <img class="post-act-img" src="/public/images/<%=post.post_pid%>/<%=post.images[m]%>">
                            </div>
                        <%}}%>
                    <%} else {%>
                        <div class="placeholder">
                                <img class="placeholder-img" src="/public/images/noimage.png">
                            </div>
                    <%}%>
                     
                </div>
            </div>
        </div>
    </div>
    <div class="prev-details">
        <div class="title-price">
            <span id="title" class="prev-title"><%=post.title%></span>
            <div class="clr"></div>
        </div>
        <div id="desc" class="desc-container"><%=post.desk%></div>
        <span id="post_pid"></span>
    </div>
        
    </div>

<% include partials/footer %>