<% include partials/header %>

<div class="image-preview-container">
        <a class="back button" href="/posts">back</a>
        <div class="image-preview-container-child">
            <div class="image-preview">
                <div class="root">
                    <% if (typeof post !== 'undefined') {%>
                        <% for (let m in post.images) { if (post.images[m] != 'thmb.jpg') {%>

                            <div class="post-img">
                                <img class="post-act-img" src="/public/images/<%=post.postPid%>/<%=post.images[m]%>">
                            </div>
                        <%}}%>
                    <%} else {%>
                        <div class="placeholder">
                                <img class="placeholder-img" src="/public/images/noimage.png">
                            </div>
                    <%}%>
                     
                </div>
            </div>
        </div>
    </div>
    <div class="prev-details">
        <div class="title-price">
            <span id="title" class="prev-title"><%=post.title%></span>
            <div class="clr"></div>
        </div>
        <div id="desc" class="desc-container"><%=post.desc%></div>
        <span id="post_pid"></span>
    </div>
        
    </div>

    <script>
    //Display the first image by default
    document.querySelector('.post-img').style.display = "block";

    var slideshow = val => {
        let slides = document.querySelectorAll('.post-img');
        for (let m in slides) {
            if (slides[m].style.display == 'block') {
                let n = Number(m) + Number(val);
                if (n == slides.length) {
                    n = 0;
                } else if (n < 0) {
                    n = slides.length - 1;
                }
                console.log(n);
                slides[m].style.display = 'none';
                slides[n].style.display = 'block';
                break;
            }
        }
    }
    </script>

<% include partials/footer %>