<% include partials/header %>

<div class="login-modal" id="loginModal">
    <form name="login">
        <div class="modal-card" id="loginModalCard">
            <div class="modal-header">
                <div class="modal-title">
                    Login
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-inputs">
                    <input class="user-info login-info" type="text" placeholder="Username" maxlength="30" name="username" autocomplete="username">
                    <input class="user-info login-info" type="password" placeholder="Password" name="pass" autocomplete="current-password">
                        <div class="pass-err">
                        </div>
                    <input id="submit" class="login-submit" type="submit" value="Login">
                </div>
                <div class="modal-links">
                    <a class="modal-link" href="/users/forgot">Forgot Password</a>  |  <a class="modal-link" href="/register">Register</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/public/scripts/login.js"></script>
<% include partials/footer %>