<% include partials/header %>

<div class="news-cont">
    <div class="news-img-cont">
        
    </div>

    <div class="news-body-cont">
        <%= news.title %>
        <%= news.body %>
    </div>
</div>


<% include partials/footer %>