<% include partials/header %>

<div class="add-post-card">
        <div class="card-title add-post-card-bg">
            add news
        </div>
        <div class="card-body">
            <form method="POST" action="/news/add" enctype="multipart/form-data">
            <div class="add-post-form">
                <label class="form-label" for="title">
                    title
                </label> <br>
                <input id="title" class="user-info" type="text" name="title"><br>
    
                <label class="form-label" for="img">
                    image upload
                </label><br>
                <div id="inputCont" class="user-files">
                    <span class="input" id="testplace"></span>
                </div>
                <button id="addimg" class="user-submit" onclick="addInput();" type="button">Add</button><br>
                <div class="submit-buttons">
                    <input type="hidden" value="<%=uuid%>" name="pid" id="pid">
                    <button class="user-submit" onclick="save();" type="button">save</button>
                    <button class="user-submit" onclick="save(sub);" type="button">submit</button>
                </div>
              </div>
            <div class="preview-container">
                <iframe class="preview-iframe" id="preview" src="/news/preview"></iframe>
            </div>
    
            <div class="description-text-box">
                <label class="form-label" for="main-desc">
                    description
                </label><br>
    
                <textarea id="body" class="user-info desk-text" type="text" name="body" rows="8" cols="70" required></textarea>
            </div>
            </form>
            <div class="clr"></div>
        </div>
    </div>

    <div class=""></div>

    <script src="/public/scripts/news.js"></script>

<% include partials/footer %>