<% include partials/header %>

<div class="error-message">
    We are sorry, but there were no posts found matching that criteria. Please search again <a href="/posts">here.</a>
</div>

<% include partials/footer %>