<% include partials/header %>
<div class="err-cont">
    <span class="err-header">
        404
    </span>
    
    <div class="err-msg">
        We are sorry, but there were no posts found matching that criteria. Please search again <a href="/posts">here.</a>
    </div>
</div>

<% include partials/footer %>