<% include partials/header %>
        <h1>Register</h1>

        <form method="POST" action="/users/register">

            <label class="required">username</label>
            <input class="user-info" type="text" name="username" id="username" onkeyup="global.requireField(this.id);"><br>

            <label class="required">email</label><br>
            <input class="user-info" type="email" name="email" id="email" autocomplete="email" onkeyup="global.requireField(this.id);"><br>

            <label>First Name</label><br>
            <input class="user-info" type="text" name="givenname" id="givenname" autocomplete="given-name"><br>
            
            <label>Last Name</label><br>
            <input class="user-info" type="text" name="famname" id="famname" autocomplete="family-name"><br>

            <% if (errlev == 1) { %>
                <div class="username-err">
                    That email is already in use!
                    <a href="/users/forgot">Forgot Password?</a>
                </div>
            <% } %>

            <label>Password</label><br>
            <input class="user-info" type="password" minlength="8" name="passwd" id="passwd" autocomplete="new-password" onkeyup="global.requireField(passwd);"><br>

            <label>Verify Password</label><br>
            <input class="user-info" type="password" minlength="8" name="passwdver" id="passwdver" autocomplete="new-password" onkeyup="passwdVer(passwd);"><br>

            <div id="passwderr">
                Error, Password do not match
            </div>

            <input class="user-submit" type="submit" value="Submit" id="submit" disabled="disabled">
        </form>
        <script src="/public/scripts/global.js"></script>

<% include partials/footer %>